/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sAMPpred-GAT-ESM2.iml
/.idea/vcs.xml
/.idea/
/tools/hhblits/uniclust30_2018_08/
/tools/hhblits/uniclust30_2018_08_hhsuite.tar.gz
/runs/
/models/esm2/checkpoints/
/models/trRosetta/model2019_07/
/datasets/DeepAVPpred/
/datasets/Example/
/datasets/Test_Data/
/models/trRosetta/model2019_07/
