/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sAMPpred-GAT-ESM2.iml
/.idea/vcs.xml
/.idea/
/datasets/ABPDiscover/
/datasets/AFPDiscover/
/datasets/AMPDiscover/ESMFold_pdbs/
/datasets/AMPDiscover/Test(reduced-100)/ESMFold_pdbs/
/datasets/AMPDiscover/Test(reduced-100)/
/datasets/AniAMPpred/
/datasets/AVPDiscover/
/datasets/Deep-AVPpred/
/datasets/Ejemplo/
/datasets/StarPep/
/models/esm2/checkpoints/
/models/esmfold/checkpoints/
/output_models/ABPDiscover/
/output_models/AFPDiscover/
/output_models/AFPDiscover_all/
/output_models/AMPDiscover_Trained_Partition1/
/output_models/AMPDiscover/
/output_models/AVPDiscover/
/output_models/Deep-AVPpred/
/output_models/
/esmfold.sh
/docker-compose.rar