/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sAMPpred-GAT-ESM2.iml
/.idea/vcs.xml
/.idea/
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_a3m.ffdata
/utils/hhblits/README.md
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08.cs219
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08.cs219.sizes
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_a3m.ffindex
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_a3m_db
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_a3m_db.index
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_cs219.ffdata
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_cs219.ffindex
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_hhm.ffdata
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_hhm.ffindex
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_hhm_db
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_hhm_db.index
/utils/hhblits/uniclust30_2018_08_hhsuite.tar.gz
/utils/hhblits/uniclust30_2018_08/uniclust30_2018_08_md5sum
