services:
   esm-axp-gdl-env-py39:
    build: .
    command: nvidia-smi
    volumes:
      - .:/opt/project
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
